<div class="col-md-6 offset-md-3">
  <h3> Create Tenant </h3>
  <form (ngSubmit) = "onSubmit()">

    <div class="form-group">
      <label> First Name</label>
      <input type="text" class ="form-control" id = "tenantName"
             [(ngModel)] = "tenant.tenantName" name = "tenantName">
    </div>

    <div class="form-group">
      <label> Advance Amount</label>
      <input type="text" class ="form-control" id = "advanceAmount"
             [(ngModel)] = "tenant.advanceAmount" name = "advanceAmount">
    </div>

    <div class="form-group">
      <label> Monthly Rent</label>
      <input type="text" class ="form-control" id = "monthlyRent"
             [(ngModel)] = "tenant.monthlyRent" name = "monthlyRent">
    </div>

    <div class="form-group">
      <label> Onboard Date </label>
      <input type="date" class ="form-control" id = "onBoardDate"
             [(ngModel)] = "tenant.onBoardDate" name = "onBoardDate">
    </div>

    <div class="form-group">
      <label> Created By</label>
      <input type="text" class ="form-control" id = "createdBy"
             [(ngModel)] = "tenant.createdBy" name = "createdBy">
    </div>

    <div class="form-group"> 
      <label> Created Date</label>
      <input type="date" class ="form-control" id = "createdDate"
             [(ngModel)] = "tenant.createdDate" name = "createdDate">
    </div>

    <button class = "btn btn-success" type ="submit">Submit</button>
    <button (click)="goBack()"  backButton>BACK</button>
  </form>
</div>


